langchain-text-splitters
sentence-transformers
langchain-chroma
langchain-huggingface
chromadb
livekit-agents
livekit-plugins-silero
livekit-plugins-deepgram
livekit-plugins-openai
livekit-plugins-rime
python-dotenv
groq